<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragment/head}"></th:block>
  <style>
    body {
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container-fluid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .navbar-brand {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #28a745;
    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <h2 class="text-success text-uppercase text-center">Inventory Management System</h2>
    <main class="d-flex gap-3">
      <a th:href="@{/login}" th:text="#{home.login-link}" class="btn btn-success rounded-0">Login</a>
      <a th:href="@{/register}" th:text="#{home.register-link}" class="btn btn-danger rounded-0">Register</a>
    </main>
  </div>

</body>

</html>
